:root,
[data-bs-theme="light"] {
    --bs-body-bg: #fff;
    --bs-body-color: #000;
    --bs-corDosBotoes: #ABDDDE;
    --bs-corDasLetras: #0F1C28;
    --bs-headertxt-color: #000;
    --bs-headertxt2-color: #8EE2E8;
    --bs-fundodest-color: #FFFBFB;
    --bs-menulogin-color: #fff;
    --bs-entrar-color: #EFC6D8;
    --bs-entrar2-color: #ABDDDE;
    --bs-hoverDosBotoes: #EFC6D8;
    --bs-cadastro-color: #fff;
    --bs-pesqtxt-color: #000;
    --bs-txtp-color: #000;
    --bs-ipesq-color: #000;
    --bs-iuser-color: #000;
    --bs-iheart-color: #000;
    --bs-ilua-color: #000;
    --bs-icasa-color: #000;
    --bs-icarrinho-color: #000;
    --bs-txtnp-color: #000;
    --bs-sectiontxt-color: #000;
    --bs-card-color: #fff;
    --bs-verDetalhes-fundo: #f8f8f8;
    --bs-footerGradiente: linear-gradient(to right, #8EE2E8, #4C82B4, #1C364E);
}

[data-bs-theme="dark"] {
    --bs-header-color: #0F1C28;
    --bs-fundo-color: #fff;
    --bs-body-bg: #0F1C28;
    --bs-corDosBotoes: #F8A797;
    --bs-corDasLetras: #fff;
    --bs-headertxt-color: #8EE2E8;
    --bs-headertxt2-color: #F8A797;
    --bs-fundodest-color: #0F1C28;
    --bs-menulogin-color: #0F1C28;
    --bs-entrar-color: #EFC6D8;
    --bs-entrar2-color: #F8A797;
    --bs-hoverDosBotoes: #F897D1;
    --bs-logintxt-color: #FFF1BC;
    --bs-txt-color: #fff;
    --bs-cadastro-color: #0F1C28;
    --bs-pesquisa-color: #0F1C28;
    --bs-pesqtxt-color: #fff;
    --bs-txtp-color: #fff;
    --bs-ipesq-color: #fff;
    --bs-iuser-color: #fff;
    --bs-iheart-color: #fff;
    --bs-ilua-color: #fff;
    --bs-icasa-color: #fff;
    --bs-icarrinho-color: #fff;
    --bs-txtnp-color: #fff;
    --bs-sectiontxt-color: #fff;
    --bs-card-color: #294B6D;
    --bs-verDetalhes-fundo: #16283b;
    --bs-footerGradiente: linear-gradient(to right, #3e8298, #1b558b, #1C364E);
}

.title-doc{
    color:var(--bs-corDasLetras);
}
.alinhamento {
    padding: 15px;
    vertical-align: top;
}

.logoCar a {
    color: var(--bs-corDasLetras);
}
.card {
    background-color: var(--bs-card-color);
}

    .card th {
        color: var(--bs-corDasLetras);
    }
    .produto-item {
        display: flex;
        gap: 15px;
        align-items: flex-start;
    }

.sla label{
    color:var(--bs-corDasLetras);
}

td {
    color: var(--bs-corDasLetras);
}

.total-value {
    color: var(--bs-corDasLetras);
}

.nomePromocao h6 {
    color: var(--bs-corDasLetras);
}

.nomePromocao h6 {
    color: var(--bs-corDasLetras);
}
.img-wrap img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    object-fit: contain;
}

.info-wrap {
    flex: 1;
}

}

.imgAjuste img {
    width: 10px;
    height: 250px;
}


.swal-icon-rosa .swal2-icon.swal2-warning {
    border-color: #e91e63; /* rosa */
    color: #e91e63; /* rosa */
}







.btn-continuar-comprando {
    background-color: #EFC6D8;
    border: none;
    outline: none;
    color: #1C364E;
    padding: 10px 15px;
    border-radius: 15px;
    width: 80%;
    margin: 5%;
}

    .btn-continuar-comprando:hover {
        background-color: #1C364E;
        color: #EFC6D8;
    }

.logoCar img {
    width: 60px;
    height: 50px;
}

.logoCar a {
    text-decoration: none;
}


/*FAVORITOS*/
.wishlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    gap: 20px;
    padding: 10px;
}

.wishlist-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: contain;
}

.product-header {
    display: flex;
    justify-content: flex-end;
}

.product-info {
    margin-top: 10px;
}

.product-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.product-brand {
    color: #666;
    font-size: 0.9rem;
    margin-top: 4px;
}

.product-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px;
}

.btn-add-to-cart img {
    width: 24px;
    height: 24px;
}
