.alinhamento {
    padding: 15px;
    vertical-align: top;
}

.produto-item {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.img-wrap img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    object-fit: contain;
}

.info-wrap {
    flex: 1;
}

}

.imgAjuste img {
    width: 10px;
    height: 250px;
}


.swal-icon-rosa .swal2-icon.swal2-warning {
    border-color: #e91e63; /* rosa */
    color: #e91e63; /* rosa */
}







.btn-continuar-comprando {
    background-color: #EFC6D8;
    border: none;
    outline: none;
    color: #1C364E;
    padding: 10px 15px;
    border-radius: 15px;
    width: 80%;
    margin: 5%;
}

    .btn-continuar-comprando:hover {
        background-color: #1C364E;
        color: #EFC6D8;
    }

.logoCar img {
    width: 60px;
    height: 50px;
}

.logoCar a {
    text-decoration: none;
}


/*FAVORITOS*/
.wishlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    gap: 20px;
    padding: 10px;
}

.wishlist-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: contain;
}

.product-header {
    display: flex;
    justify-content: flex-end;
}

.product-info {
    margin-top: 10px;
}

.product-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.product-brand {
    color: #666;
    font-size: 0.9rem;
    margin-top: 4px;
}

.product-actions {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-add-to-cart img {
    width: 24px;
    height: 24px;
}
